<h1 id="promo-drive-active">Promo Drive Active</h1>
<p>Stay Aligned to Planet Blink</p>
<p>ATTENTION: THIS DOES NOT AUTO REFRESH THE BLINK SITE OR PLAY BLINKS FOR YOU.</p>
<p>Promo Drive Active is a chrome browser extension designed to notify you of promo blinks in progress and the price est value.</p>
<p>features:</p>
<ul>
<li>Desktop notifications when promo blinks are running, click to go blink.</li>
<li>Item value lookups (estimated Jita price) displayed in popup.</li>
</ul>
<p>The Toolbar Button has 3 functions</p>
<ul>
<li>Click to open a new blink tab if one is not open</li>
<li>Click to switch to your active blink tab and refresh if one is open</li>
<li>Click to refresh your active blink tab</li>
</ul>
<h1 id="how-it-works">How It Works</h1>
<p>Promo Drive Active clients notify each other when a player using it plays a promo blink
This information is provided anonymously to one another</p>
<h1 id="can-somerblink-ban-me-for-using-this-">Can SomerBlink ban me for using this?</h1>
<p>Technically, yes. But good luck detecting people using it!</p>
<p>Chrome runs its extensions in a sandbox, webpages cannot detect which plugins you have installed</p>
<h1 id="help-i-m-not-seeing-any-promos-">Help! I&#39;m not seeing any Promos!</h1>
<p>The plugin relies on  other people with the plugin playing promos
If no one plays on it, no one will be alerted.
Solution: share it with your friends!</p>
<h1 id="help-i-m-not-seeing-any-promos-">How can I trust this plugin?!</h1>
<p>No code or functionality is hidden, you can download the crx file, rename it to .zip and open it with winrar/7zip and inspect the code yourself.
If you dont know what it does, ask someone who can read it for you :)</p>
<h1 id="easy-installation">Easy Installation</h1>
<ul>
<li>Visit (web store link coming soon)</li>
<li>Click Add to chrome!</li>
</ul>
<h1 id="manual-installation-from-crx">Manual Installation from CRX</h1>
<ul>
<li>Download the file: <a href="http://promoblink.herokuapp.com/static/promo-drive-active.crx">http://promoblink.herokuapp.com/static/promo-drive-active.crx</a></li>
<li>in chrome visit chrome://extensions</li>
<li>drag the CRX file into this window</li>
<li>You&#39;re done!</li>
</ul>
<h1 id="manual-installation-from-source">Manual Installation from source</h1>
<p>Clone the repo or download a zip and extract it anywhere.</p>
<ul>
<li>In chrome visit chrome://extensions</li>
<li>Enable developer mode</li>
<li>Load unpacked extension</li>
<li>Navigate to the folder that contains manifest.json</li>
<li>You&#39;re done!</li>
</ul>
<h1 id="updating">Updating</h1>
<ul>
<li>In chrome go to chrome://extensions</li>
<li>check the version number</li>
<li>if it is not 0.2.2, uninstall the plugin</li>
<li>follow the manual installation from CRX steps</li>
</ul>
<h1 id="uninstalling">Uninstalling</h1>
<ul>
<li>In chrome visit chrome://extensions</li>
<li>untick the plugin to disable</li>
<li>click the trash can to remove permanently</li>
</ul>
